@import "keyframes.css";

.loader {
  inset: 0;
  position: fixed;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.loader.hidden {
  opacity: 0;;
  visibility: hidden;
}

.loader__logo {
  stroke: #F4DFC8;
}

.path__en {
  stroke-width: 16;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 2s linear 0.5s forwards;
}

.path__jp {
  animation: fade-in 3s linear forwards;
}
